# Style noyau : tabulations de 8, 80 colonnes, accolades Linux.
BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
ColumnLimit: 80
ContinuationIndentWidth: 8
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignTrailingComments: false
SpacesBeforeTrailingComments: 1
SpacesInLineCommentPrefix:
  Minimum: 0
  Maximum: -1
SpaceAfterCStyleCast: false
PointerAlignment: Right
Cpp11BracedListStyle: false

# Regroupement des includes : d'abord ceux fournis par le compilateur
# (freestanding), puis les en-tetes de la lib en <>, puis les locaux en "".
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<(stdint|stddef|stdbool|stdarg|limits|float|iso646|stdalign|stdnoreturn|stdatomic)\.h>$'
    Priority: 1
  - Regex: '^<lib/'
    Priority: 2
  - Regex: '^<asm/'
    Priority: 3
  - Regex: '^<'
    Priority: 4
  - Regex: '^"'
    Priority: 5
ReflowComments: false
BreakStringLiterals: false
PenaltyBreakAssignment: 100
